body {
  font-size: 14px;
  line-height: 28px;
  max-width: 760px;
  margin: 0 auto;
}
h1 {
  font-size: 61px;
  line-height: 84px;
  margin-top: 56px;
  margin-bottom: 28px;
}
h2 {
  font-size: 37px;
  line-height: 56px;
  margin-top: 56px;
  margin-bottom: 28px;
}
h3 {
  font-size: 23px;
  line-height: 28px;
  margin-top: 28px;
  margin-bottom: 28px;
}
h4 {
  font-size: 14px;
  line-height: 28px;
  margin-top: 28px;
  margin-bottom: 28px;
}
p, ul, ol, pre, table, blockquote {
  margin-top: 28px;
  margin-bottom: 28px;
}

/* Sanitation */
hr {
  border: 1px solid;
  margin: -1px 0;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
b, strong, em, small, code {
  line-height: 1;
}
sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub {
  top: 0.4em;
}