/* this is a CSS comment */
body {
    background-color: #FFD0FC;
}
h1 {
    text-align: center;
    color:rgb(0,0,255);
    font-size: 54px;
    font-family: 'Lobster', cursive;
}

h2 {
    text-align: center;
    color:rgb(50,50,255);
    font-size: 32px;
    font-family: 'Lobster', cursive;
}

ul, ol
{
    text-align: center;
}

li {
    font-size: 24px;
/*    text-align: center;*/
    color: #252A80;
    font-family: 'Indie Flower', cursive;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 80%;
}